@model PagedList.IPagedList<NPS.Models.Voto>
@{
    ViewBag.Title = "ListagemVotos";
    Layout = null;
}

<!DOCTYPE html>

<html class="bg-light">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem Voto</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/form-basic.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="p-md-3 container bg-light">
        <h1><img src="~/Content/Img/npsBlack.png" width=48 height=48 />  Relatório de Votos</h1>
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>ID</th>
                    <th>Nota</th>
                    <th>Setor</th>
                    <th>Telefone </th>
                    <th>Justificativa</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.VotoId)</td>
                        <td>@Html.DisplayFor(modelItem => item.Vl_voto)</td>
                        <td>@Html.DisplayFor(modelItem => item.Setor.Nome)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nr_telefone)</td>
                        <td>@Html.DisplayFor(modelItem => item.Justificativa_voto)</td>
                    </tr>
                }
                <tr>
                    <td>
                        <b>@Model.Count registos de @Model.TotalItemCount</b>
                    </td>
                    <td>
                        <b>Gerado em: @DateTime.Now.ToShortDateString()</b>
                    </td>
                    <td>
                        <a href="/Relatorios/ListagemVotos?gerarPDF=true">
                            <b>PDF</b>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @{
        if (Model.TotalItemCount != Model.Count)
        {
            <div class="row">
                <div class="col-md-12">
                    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de
                    @Model.PageCount

                    @if (Model.HasPreviousPage)
                    {
                        @Html.ActionLink("<<", "ListagemVotos", new
                        {
                            pagina = 1,
                        sortOrder = ViewBag.CurrentSort,
                            currentFilter = ViewBag.CurrentFilter
                        })
                        @Html.Raw(" ");
                        @Html.ActionLink("< Anterior", "ListagemVotos", new
                        {
                            pagina =
                        Model.PageNumber - 1,
                            sortOrder = ViewBag.CurrentSort,
                            currentFilter =
                        ViewBag.CurrentFilter
                        })
                    }
                    else
                    {
                        @:<<
                        @Html.Raw(" ");
                        @:< Anterior
                    }

                    @if (Model.HasNextPage)
                    {
                        @Html.ActionLink("Próxima >", "ListagemVotos", new
                        {
                            pagina =
                        Model.PageNumber + 1,
                            sortOrder = ViewBag.CurrentSort,
                            currentFilter =
                        ViewBag.CurrentFilter
                        })
                        @Html.Raw(" ");
                        @Html.ActionLink(">>", "ListagemVotos", new
                        {
                            pagina =
                        Model.PageCount,
                            sortOrder = ViewBag.CurrentSort,
                            currentFilter =
                        ViewBag.CurrentFilter
                        })
                    }
                    else
                    {
                        @:Próxima >
                        @Html.Raw(" ")
                        @:>>
                    }
                </div>
            </div>
        }
    }

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">

    function CalculaNPS() {
            @*var promotores = @Model.Where(v => v.Vl_voto > 8).Count();
            var detratores = @Model.Where(v => v.Vl_voto <= 6).Count();
            var totalVotos = @Model.Count();
            var neutros = (totalVotos - detratores) - promotores;

            var promotoresMenosDetratores = promotores - detratores;
            var nps = promotoresMenosDetratores / totalVotos * 100;

            $("#lblNPS").text("NPS: "+nps.toFixed(0));*@
        }
</script>
</body>
</html>
