@*Author: Larson Kremer Vicente*@

@model IEnumerable<NPS.Models.Voto>

@{
    ViewBag.Title = "Lista de Votos";
}
<br />
<br />
<h2>Votos</h2>

<p style="margin-left: 90%">
    @Html.ActionLink("Gerar Excel", "Excel", null, new { @class = "font-weight-bold" })
</p>

<table class="table">
    <tr>
        @*<th>ID</th>*@
        <th>Data</th>
        <th>Setor</th>
        <th>Nota</th>
        <th>Telefone</th>
        <th>Justificativa</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>@item.VotoId</td>*@
            <td>@item.Dt_voto</td>
            <td>@item.Setor.Nome</td>
            <td>@item.Vl_voto</td>
            <td>@item.Nr_telefone</td>
            <td>@item.Justificativa_voto</td>
            <td>
                @*@Html.ActionLink("Editar", "Edit", new { id = item.VotoId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Deletar", "Delete", new { id = item.VotoId }, new { @class = "btn btn-danger" })*@
            </td>
        </tr>
    }
</table>
